/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin: 0;
  padding:0;
  width: 100%;
}

p:first-letter,
h1:first-letter{
  text-transform: capitalize !important;
}

.font-pacifico{
  font-family: 'Pacifico', cursive;
}

.paragraph-green-gb{
    background-color: #316F49;
    color:#fff;
  }

.text-green{
  color: #307436;
}

.bg-standard{
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.margin-x-0{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.margin-y-0{
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.padding-x-0{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.padding-y-0{
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

/*============================================================
                      Estilo do banner
=============================================================*/
  .imagem_banner{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100%;
  }

    .title-highlight{
      color: #fff;
      font-size: 60px;
      /*font-weight: bold;*/
      margin-bottom: 0;
      padding: 50px;
      text-align: center;
      text-shadow: 2px 2px 3px black;
    }

/*============================================================
                      Estilo dos cards
=============================================================*/
  .card h4,
  .card p{
    color: #fff;
    font-weight: bold;
    margin:auto;
    text-shadow: 2px 2px 3px black;
    width: 228px;
  }

  .card p{
    font-size: 13px;
    margin-bottom: 17px;
    width: 80%;
  }

  .card img{
    display: flex;
    justify-content: center;
    margin: 20px auto;
  }

/*============================================================
                      Estilo do wysiwyg
=============================================================*/
.field--name-field-texto-wysiwyg .align-left{
  margin-bottom: 10px;
  margin-right: 20px;
}

.field--name-field-texto-wysiwyg .align-right{
  margin-bottom: 10px;
  margin-left: 20px;
}

.field--name-field-texto-wysiwyg img {
  height: auto;
  max-width: 100%;
}

.wysiwyg {
  display: grid;
  margin: 30px 0 60px; /*Versão final remover eu acho*/
}

  .wysiwyg h1{
    color:#DC7D00;
    margin: 35px auto;
}

/*============================================================
                      Estilo do depoimento
=============================================================*/
.depoimento{
  text-align: center;
}

.depoimento_topo{
  color: #1C6F18;
  font-size: 20px;
  padding-top: 60px;
}

.depoimento_titulo{
  color: #DC7D00;
  font-size: 37px;
}

.depoimento a:hover{
  font-weight: bold;
  text-decoration: none;
}

.icone{
  color: #d272f8;
  font-size: 2em;
  margin-bottom: 50px;
  margin-top: 60px;
}

.depoimento img{
  border: 3px solid #f0c63c;
  border-radius: 50%;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100px;
}

.depoimento_texto{
  color: #666960;
  font-style: italic;
  padding-left: 200px;
  padding-right: 200px;
}

.paragraph--type--depoimentos .view-content .owl-item {
  float: left;
}

.owl-item:nth-child(odd) .depoimento img{
  border-color: #d272f8;
}

@media (max-width: 768px){
  .depoimento_texto{
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*================================================
               Depoimento Default
=================================================*/
.depoimento-topo-d{
  padding-top: 10px;
}

.depoimento-titulo-d{
  padding-bottom: 20px;
}

.campo-depoimento{
  background-color: #dc7b29;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}

.img-depoimento{
  max-width: 315px;
  padding-bottom: 25px;
}

.icone-depoimento{
  color: #f7b816;
  font-size: 2em;
  margin-bottom: 20px;
}

.depoimento-info {
  color: #fff;
  text-align: center;
  text-shadow: 0.3px 1px 1px black;
}

.views-row:nth-child(odd) .campo-depoimento {
  background-color: #dc7b29;
}

.views-row:nth-child(even) .campo-depoimento {
  background: url("../images/fundo-verde.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.views-row:nth-child(even) .field--name-field-nome{
  color: #dc7b29;
}

@media(min-width: 768px){
  .img-depoimento{
    max-width: 250px;
    float: left;
  }

  .depoimento-info{
    float: right;
    max-width: 500px;
    text-align: left;
  }

  .views-row:nth-child(odd) .campo-depoimento img:nth-child(odd){
    float: right;
  }

  .views-row:nth-child(odd) .depoimento-info{
    float: left;
    text-align: right;
  }
}

@media(min-width: 991px){
  .img-depoimento{
    max-width: 350px;
  }

  .depoimento-info{
    float: right;
    max-width: none;
    text-align: left;
  }

  .views-row:nth-child(odd) .campo-depoimento img:nth-child(odd){
    float: right;
  }

  .views-row:nth-child(odd) .depoimento-info{
    float: left;
    text-align: right;
  }
}
/*================================================
                Texto Destaque
=================================================*/

.imagem-fundo-destaque{
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative;
}

.motivo-destaque{
  font-weight: bold;
  text-transform: uppercase;
}

.titulo-destaque{
  font-size: 40px;
  text-shadow: 1px 2px 1.5px #000;
}

.texto-destaque{
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.conteudo-destaque{
  text-align: left;
}
.imagem-destaque{
  bottom: 0;
  margin-bottom: -48px;
  max-width: 350px;
}

.lista .itens {
  align-items: center;
  display: flex;
}

.itens svg{
  background-color: #3f6848;
  border-radius: 50%;
  color: #fff;
  height: 30px !important;
  width: 30px !important;
}

.itens p{
  font-size: 15px;
  margin-left: 10px;
  margin-top: 5px;
  padding-top: 8px;
  width: 100%;
}
@media(min-width: 992px){
  .imagem-destaque{
    max-width: 100%;
  }
}
/*============================================================
                      Estilo dos losangos
=============================================================*/
.container_losangos{
  align-items: center;
  display: flex;
  min-height: 450px;
}

.imagem_losangos{
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  height: auto;
  width: 100%;
}

  .losango{
    border-radius: 5px;
    color: #fff;
    height: 100px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    transform:rotate(-45deg);
    text-align: center;
    width: 100px;
  }

    .losango .titulo{
      font-size:  2.857em;
      font-weight: bold;
      transform:rotate(45deg);
    }

    div .field--name-field-titulo-losang-1,
    div .field--name-field-titulo-losang-2,
    div .field--name-field-titulo-losang-3{
      color: #fff;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 18px;
      margin: 35px 0;
      text-align: center;
    }

     .margem-losangos{
      margin-top: 40px;
     }


@media only screen and (max-width: 576px){
  .imagem_losangos{
      background-position: 25% 0% !important;
    }
}

@media only screen and (max-width: 768px){
  .imagem_losangos{
      background-position: 25% 0% !important;
    }
}


/*============================================================
                      Estilo do Bannerzão
=============================================================*/
.owl-carousel{
  display: block !important;
}

.field--name-field-img-carroucel .img-responsive,
.field--name-field-img-carroucel a.img-responsive
{
  height: 450px !important;
  /*height: 600px !important; para tela grande*/
  width: 100%;
}

.imagem_banner_complex{
  cursor: pointer;
}

  .imagem_banner_complex h1{
    color: #fff;
    font-size: 3em;
    line-height: 70px; /*125px; tela grande*/
    position: absolute;
    right: 20px;
    text-align: right;
    text-shadow: -5px 2px 5px rgb(84, 84, 84);
    top: 25%;
    width: 340px;
  }

  /*==================================
        Área dos cards do banner
  ====================================*/
        .margin-cards{/*Margem base para mobile - não remover*/
          margin: 80px 0;
        }

        .card-bannerzao{
          height: 325px;
          margin: 0;
          padding: 0 20px 25px 20px;
          position: relative;
          text-align: center;
          z-index: 2;
        }

        .card-bannerzao i{
          border-radius: 50%;
          height: 80px;
          left: calc(50% - 40px);
          position: relative;
          top: -30px;
          width: 80px;
        }

          .card-bannerzao i img{
            border-radius: 50%;
            height: 60px;
            width: 80px;
            padding: 11px 10px 2px 10px;
          }

        .card-bannerzao h2{
          color: #fff;
          margin: -20px 0 30px;
        }

        .card-bannerzao p{
          color: #fff;
          text-align: center;
        }

        .card-bannerzao a{
          border-radius: 25px;
          color: #fff;
          margin-bottom: 15px;
          padding: 7px 30px;
        }

        .card-bannerzao:hover{
          transform: translateY(-8px);
        }

      .card1,
      .card1 img{
          background-color: #FD4D40;
        }

        .card1 .btn{
          background-color: #F1C22E;
        }

      .card2,
      .card2 img {
          background-color: #F1C22E;
        }

        .card2 .btn{
          background-color: #16C3B0;
        }

      .card3,
      .card3 img{
          background-color: #16C3B0;
        }

        .card3 .btn{
          background-color: #FD4D40;
        }
  /*==================================
        Área de destaque do banner
  ====================================*/
  .box {
    margin-bottom: 140px;
  }

    .box .img-body img{
      min-width: 100%;
      min-height: 290px;
      margin-top: 11px;
    }

    .box .body h3{
      color: #FF9B00;
      margin: 10px 0 20px;
    }

    .box .body button{
      background-color: #E800FD;
      border-radius: 25px;
      color: #fff;
      padding: 13px 40px;
      position: relative;
      top: 25px;
    }

    .box .body button:hover{
      background-color: #FEF200;
      color: #000;
    }

/*==================================
        Área dos breakpoints
  ====================================*/
@media only screen and (min-width: 576px) {
  .imagem_banner_complex h1{
    font-size: 4em;
    line-height: 85px; /*125px; tela grande*/
    right: 20px;
    width: 440px;
  }
}
@media only screen and (min-width: 992px) {
  .imagem_banner_complex h1{
    left: 375px;
    text-align: right;
    top: 100px;
    width: auto;
  }

  .margin-cards{
    margin: -145px 0 80px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .field--name-field-img-carroucel .img-responsive,
  .field--name-field-img-carroucel a.img-responsive{
    height: 600px !important;
  }

  .imagem_banner_complex h1{
    color: #fff;
    font-size: 6em;
    left: 520px;
    line-height: 125px;
    position: absolute;
    text-align: right;
    text-shadow: -5px 2px 5px rgb(84, 84, 84);
    width: 665px;
  }
}

@media only screen and (min-width: 1500px) {
  .imagem_banner_complex h1{
    left:658px;
  }
}

@media only screen and (min-width: 1700px) {
  .imagem_banner_complex h1{
    left:755px;
  }
}

@media only screen and (min-width: 1800px) {
  .imagem_banner_complex h1{
    left:814px;
  }
}
/*==================================
        Área do Modal do Carrossel
====================================*/




/*============================================================
                      Estilo Menu Topo
=============================================================*/
.logo.navbar-btn img{
  max-height: 90px;
}

.navbar{
  background-color: #fff;
}

.menu{
  font-size: 14px;
  float: right;
  padding-top: 16px;
}

.menu-botoes{
  border-radius: 25px;
  font-weight: bold;
  padding: 12px 0px;
  text-transform: uppercase;
}

.menu-botoes a{
  color: grey;
  padding: 12px 30px;
  text-decoration: none;
}

.menu-botoes:hover,
.dropdown-menu li:hover .menu-botoes{
  background-color: #d272f8;
}

.menu-botoes a:hover{
  color: #fff;
}

.menu-botoes:hover a.dropdown-toggle{
  color: #fff;
}

li:hover ul {
  display: block;
}

.menu-botoes a:hover,
.menu-botoes:hover a.dropdown-toggle,
.dropdown-menu li:hover .menu-botoes a{
  color: #fff;
}

.dropdown-menu{
  background-color: #fff;
  padding: 0;
  width: max-content;
}

.dropdown-menu li .menu-botoes{
  border-radius: 0;
  background-color: #fff;;
  color: #d1e7e7;
  padding: 10px;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #fff;
  color: gray;
}

/*============================================================
                      Estilo Footer
=============================================================*/
.footer{
  padding: 0 !important;
  margin-top: -1px !important;
}

.footer-region{
    margin-top: -1px !important;
  background: url("../images/bg.jpg");
  background-position: center;
  min-height: 475px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

.footer-blocos{
  padding-bottom: 20px;
  padding-top: 20px;
}

.grid-teste{
  display: grid;
 }

@media (max-width: 768px){
  .grid-teste{
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .grid-teste{
    grid-template-columns: repeat( auto-fit, minmax(360px, 2fr) );
    margin-left: 15px;
  }
}

@media (min-width: 991px){
  .grid-teste{
    grid-template-columns: repeat( auto-fit, minmax(200px, 4fr) );
  }

  .footer-blocos{
    margin-right: 15px;
  }
}
/*===================================
       Estilo Menu Footer
=====================================*/
.menu-footer{
  padding-top: 20px;
}

.menu-footer p:first-child{
  font-family: 'Pacifico', cursive;
  color: #F1C22E;
  font-size: 25px;
  text-shadow: 0.3px 1px 1px black;
}

.menu-footer a{
  color: #fff;
  text-decoration: none;
  text-shadow: 0.3px 1px 1px black;
}

.menu-footer ul{
  padding-left: 0;
}

.menu-footer li{
  list-style: none;
  padding-top: 15px; /**/
  padding-bottom: 15px; /**/
}

.menu-footer a:hover{
  color: #FD4D40;
  text-decoration: none;
}

.menu-footer svg{
  color: #F1C22E;
  margin-right: 10px; /**/
}

/*===================================
       Estilo Contato Footer
=====================================*/
.contactinfo-menu p:first-child{
  font-family: 'Pacifico', cursive;
  color: #F1C22E;
  font-size: 25px;
  text-shadow: 0.3px 1px 1px black;
}

.contactinfo-menu ul{
  padding-left: 0;
}

.contactinfo-menu svg{
  color: #F1C22E;
  margin-right: 10px;
}

.contactinfo-menu li{
  color: #fff;
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
  text-shadow: 0.3px 1px 1px black;
}
/*===================================
       Estilo Logo Footer
=====================================*/
.logo-texto{
  color: #fff; /*alterar a cor depois*/
  text-shadow: 0.3px 1px 1px black;
}
/*===================================
       Estilo Redes Sociais Footer
=====================================*/

.paginas-bloco p{
  color: #fff;
  text-shadow: 0.3px 1px 1px black;
}
.paginas-bloco p:first-child{
  font-family: 'Pacifico', cursive;
  color: #F1C22E;
  font-size: 25px;
  text-shadow: 0.3px 1px 1px black;
}

.paginas-bloco svg{
  height: 30px;
  width: 30px;
}

.paginas-bloco .field--name-body div{
  display: inline-flex;
}

.paginas-bloco a{
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50px;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  height: 40px;
  justify-content: center;
  margin: 0 2px;
  position: relative;
  width: 40px;
}

.paginas-bloco a:nth-child(1) {
  background-color: #f83636;
}

.paginas-bloco a:nth-child(1) svg{
  color: #fff;
}

.paginas-bloco a:nth-child(1):hover {
  background-color: #fb1c1c;
}

.paginas-bloco a:nth-child(2){
  background-color:#fbb535;
}

.paginas-bloco a:nth-child(2) svg{
  color: #fff;
}

.paginas-bloco a:nth-child(2):hover {
  background-color:#ffa90b;
}


/*============================================================
                  3 Cards de Destaque
=============================================================*/
.programas-destaque{
  color: #313330;
  font-size: 20px;
  text-align: center;
}

.titulo-cards-destaque{
  color: #3e6749;
  font-size: 32px;
  max-width: none !important;
  padding-bottom: 70px;
  text-align: center;
}

.campo-destaque{
  padding-bottom: 20px;
}

.campo-cards-destaque{
  padding-bottom: 100px;
}

.campo-cards-destaque p{
  text-align: center;
}

.campo-cards-destaque img{
  max-width: 100%;
  transition-duration: 250ms;
}

.card-destaque{
  border-radius: 15px;
  overflow: hidden;
  transition: 400ms;
}

.campo-img-destaque{
  box-sizing: border-box;
  overflow: hidden;
}

.card-destaque:hover{
  box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.2);
  transition: 350ms;
}

.card-destaque:hover .campo-img-destaque{
  background-color: #3c6749;
}

.card-destaque:hover img{
  opacity: 0.8;
  overflow: hidden;
  transform: scale(1.05, 1.05);
  transition-duration: 250ms;
}

.turno-destaque{
  background-color: #ff9934;
  color: #fff;
  font-size: 35px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.atividades-destaque{
  background-color: #3c6749;
  padding: 13px 0;
}

.horario-destaque{
  color: #ff9934;
  min-height: 30px;
  max-height: 40px;
}

.destaque-1-turno{
  padding-top: 3px;
}

.destaque-2-turnos{
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-top: -9px;
  margin-bottom: 8px;
}

.campo-atividade-destaque{
  box-sizing: border-box;
  overflow: hidden;
}

.atividades-destaque a{
  color: #fff;
  transition-duration: 250ms;
  text-decoration: none;
}

.atividades-destaque a:hover{
  color: #000;
  transition-duration: 250ms;
}

.saiba-mais-destaque{
  padding-top: 90px;
  padding-bottom: 60px;
  text-align: center;
}

.saiba-mais-destaque a{
  color: #fff;
  background-color: #d272f8;
  border-radius: 25px;
  padding: 15px 60px;
  text-decoration: none;
  transition-duration: 250ms;
}

.saiba-mais-destaque a:hover {
  background-color: #ff9934;
  transition-duration: 250ms;
}
/*============================================================
                  Contato
=============================================================*/
.contato-preview{
  background-color: #3c6749;
  padding: 65px 0;
}
.contato-preview .titulo{
  margin-top: 0;
  color: #F1C22E;
  text-shadow: 0.3px 1px 1px black;
}
.contato-preview .texto{
  color: #fff;
  text-shadow: 0.3px 1px 1px black;
}
.contato-preview .botao-contato{
  color: #fff;
  margin-top: -40px;
  float: right;
}
.contato-preview .botao-contato a{
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 250ms;
  color: #fff;
  background-color: #d272f8;
  padding: 15px 45px;/
}
.contato-preview .botao-contato a:hover{
  background-color: #ff9934;
  transition-duration: 250ms;
}
/*===================================
       Contato Página
=====================================*/
.contato-full{
  background: url("../images/fundo-verde.jpg");
  padding: 40px 10px;
}
.contato-titulo{
  color: #F1C22E;
}
.contato-texto{
  color: #fff;
  padding: 5px 0 15px 0;
}
.contato-titulo,
.contato-texto{
  text-shadow: 0.3px 1px 1px black;
  text-align: center;
}
.contato-full .botao-contato,
.contato-confirmacao .contato-confirmacao-botao{
  background-color: #d272f8;
  border-color: #0000;
  border-radius: 25px;
  text-transform: uppercase;
  padding: 10px 45px;
  transition-duration: 250ms;
}
.contato-full .botao-contato:hover{
  background-color: #ff9934;
  transition-duration: 250ms;
}
.contato-largura{
  width: 100% !important;
}
@media (min-width: 768px){
  .contato-full{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .contato-titulo,
  .contato-texto{
    text-align: left;
  }
}
@media (min-width: 991px){
  .form-control{
    width: 49% !important;
  }
  .contato-campo-direito{
    float: right;
    margin-top: -49px;
  }
  .contato-mensagem{
    width: 100% !important;
  }
}
/*===================================
    Contato Página de confirmação
=====================================*/
.contato-confirmacao{
  color: #fff;
}

/*============================================================
                  Página da galeria de imagens
=============================================================*/
.img-item,
.img-item img{
  height: 240px;
  margin: 0 0 20px;
}

.img-item img:hover{
  transition: .5s;
  filter: brightness(.8);
  cursor: pointer;
}
