/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

body{
  margin: 0;
  padding:0;
  width: 100%;
  font-family: 'Poppins', sans-serif;}

  p:first-letter{
  text-transform: capitalize;}

  .pacifico{
  font-family: 'Pacifico', cursive;}
/*================================================
        Estilo do banner
=================================================*/
.banner_simples{
  height: 238px;
  position: relative;}

.imagem_banner{
  height: 100%;
  background-repeat: no-repeat !important;
  background-size: cover !important;}

.title-highlight{
  color: #fff;
  font-family: 'Pacifico'
  font-weight: bold;
  font-size: 60px;
  text-shadow: 2px 2px 3px black;
  margin: 0 -50% 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

/*================================================
        Estilo dos cards
=================================================*/
.cards{
  background-color: #DC7D00;
  overflow: auto;}

.cards h4,
.cards p{
  color: #fff;
  width: 300px;
  margin:auto;
  font-weight: bold;}

.cards p{
  margin-bottom: 20px;
  color: white;
  font-size: 13px;}


.cards img{
  margin: 20px 0;
  height: 95px;
  width: 100px;}

/*================================================
        Estilo do wysiwyg
=================================================*/
.field--name-field-texto-wysiwyg .align-left{
  margin-right: 20px;
  margin-bottom: 10px;
}

.field--name-field-texto-wysiwyg .align-right{
  margin-left: 20px;
  margin-bottom: 10px;
}

.wysiwyg {
  display: grid;
  margin: 30px 0 60px;
}

.wysiwyg h1{
  margin: 35px auto;
  color:#DC7D00;
}

.wysiwyg div > p:not(img){
  grid-template-columns: 2fr;
  grid-auto-rows: minmax(300px, auto);}

/*================================================
        Estilo do depoimento
=================================================*/
.depoimento{
  text-align: center;
}
.depoimento img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid orange;
  margin-top: 10px;}

.icone{
  margin: 45px;
  background: url("../images/canvas.png");}

.depoimento_texto{
  font-style: italic;}

.depoimento_titulo{
  color: orange;
  font-size: 40px;}
